.send-mail-button {
  color: white;
  background-color: #584a4a;
  border-style: none;
  padding: 5px;
  border-radius: 2px;
}

.send-mail-button:hover {
  background-color: #716666;
  cursor: pointer;
}
